DEPLOYMENT_MODE=self_hosted
TENANCY_MODE=single
ROOT_DOMAIN=itsm.hi5tech.co.uk
PRIMARY_TENANT_SLUG=hi5tech

APP_URL=https://itsm.hi5tech.co.uk
API_URL=https://itsm.hi5tech.co.uk
PORTAL_URL=https://itsm.hi5tech.co.uk/portal
RMM_URL=https://itsm.hi5tech.co.uk/rmm
MARKETING_URL=https://itsm.hi5tech.co.uk
DOWNLOADS_URL=https://itsm.hi5tech.co.uk/downloads
TURN_URL=
COOKIE_DOMAIN=

POSTGRES_DB=hi5central
POSTGRES_USER=hi5central
POSTGRES_PASSWORD=CHANGE_ME_HEX_64
REDIS_PASSWORD=CHANGE_ME_HEX_64
MFA_ENCRYPTION_KEY=CHANGE_ME_HEX_64

SELF_HOST_EVALUATION_PRODUCTS=itsm,rmm
SELF_HOST_EVALUATION_USER_LIMIT=25
SELF_HOST_EVALUATION_DEVICE_LIMIT=100

SMTP_HOST=smtp.ionos.co.uk
SMTP_PORT=587
SMTP_USER=CHANGE_ME
SMTP_PASSWORD=CHANGE_ME
SMTP_FROM=CHANGE_ME
